.carInfo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2F8FC;
    justify-content: space-around;
}

.carInfo {
    height: 900px;
    width: 800px;
    margin: 30px;
    position: relative;
}

.carInfo-title {
    overflow: hidden;
    min-height: 100px;
    max-height: 200px;
}

.carInfo-info {
    max-height: 50px;
}

.carInfo-actions {
    border-top: 1px solid lightblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
}