.footer {
    background-color: #255390;
    height: 300px;
    width: 100%;
    margin-top: 0px;
}

.column-footer {
    background-color: #255390;
    display: flex;
    height: 300px;
    width: 100%;
}

.left-footer {
    color: white;
    flex: 0.3;
    margin: auto;
    text-align: center;
}

.middle-footer {
    color: white;
    flex: 0.4;
    margin: auto;
    text-align: center;
}

.right-footer {
    color: white;
    flex: 0.3;
    margin: auto;
    text-align: center;
}

.footer-footer {
    background-color: #255390;
    display: flex;
    justify-content: center;
    width: 100%;
}