.home-page-body {
    height: 110vh;
    width: 100%;
    background-image: url("../images/homepageCar.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-text {
    width: 100%;
    height: 100px;
    margin: 0px;
    font-size: 70px;
    color: white;
    font-weight: 1000;
    text-align: center;
    padding-top: 130px;
}

.button {
    margin-top: 50px;
    text-align: center;
    height: 100px;
}

.subtitle {
    margin-top: 100px;
    font-size: 30px;
    color: white;
    font-weight: 500;
    text-align: center;
}