.card {
    width: 250px;
    padding: 30px;
    margin: 30px;
}

.card-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #EEEEEE;
    justify-content: space-between;
}