.primary-search-container {
    height: 100px;
    display: flex;
    background-color: whitesmoke;
    padding: 50px;
    border: 1px solid lightgrey;
}

.page-number {
    display: flex;
    justify-content: center;
}