.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2F8FC;
    justify-content: space-around;
}

.card {
    width: 300px;
    margin: 30px;
    position: relative;
}

.card-content {
    
}

.card-title {
    overflow: hidden;
    min-height: 100px;
    max-height: 200px;
}

.card-info {
    max-height: 50px;
}

.actions {
    border-top: 1px solid lightblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
}